.aviasales__ticket {
    width: 290px;
    display: block;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    padding-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
}

@media(min-width: 768px) {
    .aviasales__ticket {
       width: 502px;
       
    }
}



.ticket {

}

.ticket__header {
display: flex;
justify-content: space-between;
margin-bottom: 20px;

}

.ticket__price {
    
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(33, 150, 243, 1);
    padding-top: 25px;
    padding-left: 20px;
}

.ticket__img {
    width: 99px;
    height: 36px;
    padding-top: 20px;
    padding-right: 20px;
}

.ticket__section {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.ticket__section-info {
    padding-left: 20px;
    padding-right: 20px;
}

.ticket__section-info--name {
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: left;
    color: rgba(160, 176, 185, 1);
}

.ticket__section-info--value {
    font-size: 12px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(74, 74, 74, 1);
}