@import-normalize;

$color: red;

body {
  background-color: rgba(243, 247, 250, 1);
}

.aviasales-container {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
}

.aviasales {
}

.logo {
  width: 60px;
  height: 60px;
  position: relative;
  margin: 0 auto;
  padding-bottom: 50px;
}

.globe {
  width: 100%;
  height: 100%;
  background-image: url('../../../public/img/globe.svg');
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 50px;
}

.plane {
  width: 60px;
  height: 60px;
  background-image: url('../../../public/img/plane.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: planeFligth 2s  normal cubic-bezier(0.45, 0.05, 0.55, 0.95);
  overflow: hidden;
  
}


@keyframes planeFligth {
  0% {
    transform: translate(-50%, -50%);
  }
  48% {
    transform: translate(0%, -100%);
  }
  50% {
    opacity: 0;
  }
  52% {
    transform: translate(-100%, 0%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@media(min-width: 768px) {
.filterTransplants {
  max-width: 768px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
}

.airTickets {
  margin: 0 auto;
  margin-left: 10px;
}

.aviasales-offline {
  text-align: center;
  font-size:larger;
  color: bisque;
  background-color: brown;
}


