.aviasales__show-more {
    width: 290px;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
    background-color: rgba(33, 150, 243, 1);
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 20px;
}

@media(min-width: 768px) {
    .aviasales__show-more {
        width: 502px;
    }
}