.aviasales__tickets {

}

.aviasales__ticket-category-filter {
width: 290px;

margin: 0 auto;
display: flex;
margin-bottom: 20px;
}

@media(min-width: 768px) {
    .aviasales__ticket-category-filter {
        width: 502px;
        
        
        }
    }

.category-filter {

}

.category-filter__option {
    flex: 1 1 auto;
    border: 1px solid rgba(223, 229, 236, 1);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font-family: Open Sans;
    font-size: 8px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    text-transform: uppercase;
    color: rgba(74, 74, 74, 1);
    padding-top: 16px;
    padding-bottom: 16px;
}

@media(min-width: 768px) {
    .category-filter__option {
        font-size: 12px;
    }
}

.category-filter__option:hover {
    background-color: rgba(33, 150, 243, 1);
    color:rgba(255, 255, 255, 1);
}

@media(min-width: 768px) {
    .category-filter__option {
        
       
        
    }
}

.selected {
    background-color: rgba(33, 150, 243, 1);
    color:rgba(255, 255, 255, 1);
}

