.aviasales__ticket-large {
    width: 290px;
    margin: 0 auto;

  }

@media(min-width: 768px) {
    .aviasales__ticket-large {
       width: 502px;
       height: 100px;
       margin: 0 auto;
       display: flex;
       align-items: center;
    }
}

.aviasales__ticket-large__spin {
    padding-top: 15px;
    padding-left: 110px;
     margin: 0 auto;
}

@media(min-width: 768px) {
    .aviasales__ticket-large__spin {
        padding-left: 0px;
    }
}

.aviasales__ticket-error {
    width: 290px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    border-radius: 5px;
    border: 1px solid #FFC634;
    background-color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    margin-bottom: 20px;
}

@media(min-width: 768px) {
    .aviasales__ticket-error {
       width: 502px;
       align-items: center;
       
    }
}
.aviasales__ticket-error__text {
    text-transform: none;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #4a4a4a;
    letter-spacing: 0.5px;
    margin: 0;
    }

.aviasales__ticket-error__offline-text {
    display: inline;
    text-transform: none;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #4a4a4a;
    letter-spacing: 0.5px;
    padding-top: 6px;
    margin: 0 auto;
    }

@media(min-width: 768px) {
    .aviasales__ticket-error__offline-text {
        padding-top: 0px;
        }
     }    

.icons {
    background-color: rgba(255, 255, 255, 1);
    background-image: url("../../../public/img/error.svg") ;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}

.viasales__ticket-error__icons {
    width: 26px;
    height: 30px;
    background-size: 30px;
    margin-left: 10px;
    margin-top: 16px;
    }

@media(min-width: 768px) {
    .viasales__ticket-error__icons {
        width: 60px;
        height: 91px;
        background-size: 50px;
        margin: 0;
        }
    }

.viasales__ticket-error__offline-icons {
    width: 26px;
    height: 30px;
    background-size: 30px;
    margin-left: 10px;
    }


.aviasales__show-more {
    width: 290px;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
    background-color: rgba(33, 150, 243, 1);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 20px;
}

@media(min-width: 768px) {
    .aviasales__show-more {
        width: 502px;
    }
}

